.outside {
    text-align: center;
}

.button1 {
    text-align: left;
    background-color:red;
    color:white;
    border-radius: 14px;
    padding: 5px;
    transition-duration: 0.4s;
}

.button1:hover {
    background-color: darkred;
}


.button2 {
    text-align: left;
    background-color:blue;
    color:white;
    border-radius: 14px;
    padding: 5px;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: darkblue;
}


.button3 {
    background-color:black;
    color:red;
    font-size: 40px;
    border-radius: 14px;
    padding: 10px;
    transition-duration: 0.4s;
}

.button3:hover {
    color: white;
}



.label1 {
    background-color:black;
    color:red;
    font-size: 40px;
    border-radius: 14px;
    padding: 10px;
    transition-duration: 0.4s;
}

.label1:hover {
    color: white;
}


.label2 {
    border: 20 px;
    background-color: black;
    color: red;
}

.label2:hover {
    color: white;
}

.label3 {
    size:15px;
}


#textbox1 {
    width:300px;
    border-radius: 10px;
    height: 20px;
    border-color: black;
}

#textbox1:hover{
    background-color: lightgrey;
}
